node_modules
node_modules/*
vendor
vendor/*
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
supervisord.log
storage/app/public
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/testing/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
npm-debug.log
.DS_Store
docker-compose.yml
docker-compose.prod.yml
README.md
tests
phpunit.xml
resources/js/.next
resources/js/.next/*
resources/js/.next/dev
resources/js/.next/dev/*
resources/js/.next-runtime
resources/js/.next-runtime/*
resources/js/.next-runtime/dev
resources/js/.next-runtime/dev/*
resources/js/.env.local
